// Place all the styles related to the riddles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fb_login_button img {
  text-align: center;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width:250px;
  height:60px;
}


body {
  background-color: #34bf79;
}


.enigma_title {
  margin-top:200px;
  margin-bottom:20px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: 'Open Sans';
}