.row

  .col-xs-12.text-center
    - if user_signed_in?
      = link_to "Sign Out", destroy_user_session_path, method: 'delete'
    - else
      %h2.enigma_title
        enigma
      .fb_login_button
        = link_to image_tag('login_with_fb.png'), user_omniauth_authorize_path(:facebook)
      .twitter_login_button
        = link_to image_tag('login_with_twitter.png'), user_omniauth_authorize_path(:twitter)