.row

  .col-xs-12
    - if user_signed_in?
      = link_to "Sign Out", destroy_user_session_path, method: 'delete'
    - else
      .fb_login_button
      = link_to image_tag('login_with_fb.png'), user_omniauth_authorize_path(:facebook)